
start_use.bat

use

use.bat

parser/.ipynb_checkpoints/parser_datasets-checkpoint.ipynb

validation_pipeline/.idea/

validation_pipeline/parser/pruebas.ipynb

.idea/

parser/parser_pmml.ipynb

*-checkpoint.ipynb
*/input_dataset.csv
*output_dataset.csv
*input_dataset.csv
*input_dataset_no_bugs.csv
*output_dataset_no_bugs.csv
